<!-- Github author: JivinM -- https://www.github.com/JivinM. ALT: (https://www.github.com/jivinm) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About &middot; Palindrome App</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> <!-- 200x200 -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{>header}}

    <p class="about_txt">This uses Node.js and plain Javascript (ECMAScript)!</p>

    {{>footer}}
</body>
</html>