<header class="header">
    <a class="header__title" href="/">{{title}}</a>
    <h2 class="header__subtitle">{{subtitle}}</h2>

    <a href="/" class="nav-item">Home</a>
    <a href="/about" class="nav-item">About</a>
</header>
